# ETL

In [1]:
import pandas as pd
import os
from scripts.georef import add_unidades_territoriales_to_df

## Carga de inputs

In [2]:
#file
df_alumnos = pd.read_csv('data/input/alumnos.csv',delimiter=',')
df_carreras = pd.read_csv('data/input/carreras.csv',delimiter=',')

if os.path.exists('data/output/universidades.csv'):
    df_universidades = pd.read_csv('data/output/universidades.csv',delimiter=',',dtype={"provincia_id":str})
else:
    df_universidades_raw = pd.read_csv('data/input/universidades.csv',delimiter=',')
    df_universidades_raw["lat"] = df_universidades_raw['coordenadas'].str.split(",").str[0]
    df_universidades_raw["lon"] = df_universidades_raw['coordenadas'].str.split(",").str[1]
    df_universidades = add_unidades_territoriales_to_df(df_universidades_raw, lat_col="lat", lon_col="lon")
    df_universidades.to_csv('data/output/universidades.csv', sep=',', encoding='utf8', index=False)

In [3]:
df_alumnos = df_alumnos[df_alumnos.anio != 2010]

In [4]:
#Universidades consistentes

In [5]:
universidad_anio = df_alumnos[["institucion_nombre",'anio']].drop_duplicates()
universidad_anio_count = universidad_anio.groupby(["institucion_nombre"]).count()

In [6]:
lista_universidades = universidad_anio_count[universidad_anio_count.anio == 7].index

In [7]:
df_alumnos = df_alumnos[df_alumnos.institucion_nombre.isin(lista_universidades)]

## Exporacion

In [8]:
df_carreras.head(10)

,carrera,carrera_grupo,Carrera_normalizada
0,Abogado,Derecho,Abogacia
1,Abogado - Ciclo de Complementacion Curricular,Derecho,Abogacia
2,Abogado - MD,Derecho,Abogacia
3,Abogado Especialista en Administración de Just...,Derecho,Abogacia
4,Abogado especialista en Asesoramiento de Empresas,Derecho,Abogacia
5,Abogado Especialista en Asesoria Juridica de E...,Derecho,Abogacia
6,Abogado especialista en Derecho Administrativo...,Derecho,Abogacia
7,Abogado especialista en Derecho Ambiental,Derecho,Abogacia
8,Abogado especialista en Derecho de Alta Tecnol...,Derecho,Abogacia
9,Abogado especialista en Derecho Penal,Derecho,Abogacia

In [9]:
df_alumnos.head(10)

,anio,institucion_tipo,institucion_nombre,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_nombre,carrera_titulo,institucion_gestion,...,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
7315,2011,Universidad,Universitá Degli Studi di Bologna,Universitá Degli Studi di Bologna,Universitá Degli Studi di Bologna - Università...,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Relaciones Internacionales,Magister en Relaciones Internacionales Europa ...,Privada,...,54.0,30.0,13.0,17.0,NaN,NaN,NaN,29.0,14.0,15.0
7316,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Doctor en Ciencia Politica,Privada,...,10.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
7317,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Licenciatura en Ciencia Politica y Gobierno,Privada,...,39.0,23.0,10.0,13.0,49.0,23.0,26.0,6.0,4.0,2.0
7318,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Magister en Ciencia Politica,Privada,...,18.0,15.0,12.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7319,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Relaciones Internacionales,Licenciatura en Estudios Internacionales,Privada,...,71.0,35.0,13.0,22.0,75.0,26.0,49.0,28.0,7.0,21.0
7320,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Relaciones Internacionales,Magister en Estudios Internacionales,Privada,...,100.0,34.0,15.0,19.0,NaN,NaN,NaN,9.0,5.0,4.0
7321,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economía,Departamento de Economía,Economia,Licenciatura en Economía,Privada,...,49.0,42.0,28.0,14.0,117.0,82.0,35.0,36.0,24.0,12.0
7322,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economía,Departamento de Economía,Economia,Magister en Econometria,Privada,...,18.0,12.0,9.0,3.0,NaN,NaN,NaN,1.0,NaN,1.0
7323,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Economía,Departamento de Economía,Economia,Magister en Economía,Privada,...,14.0,25.0,20.0,5.0,NaN,NaN,NaN,2.0,2.0,NaN
7324,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Historia,Departamento de Historia,Historia,Doctor en Historia,Privada,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [10]:
df_universidades.head(10)

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.449418,-57.768604,6238.0,Dolores,-36.449418,-57.768604,60238.0,Dolores,06,Buenos Aires
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucumán 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.602173,-58.397300,2021.0,Comuna 3,-34.602173,-58.397300,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
2,Instituto Tecnológico de Buenos Aires,Instituto Tecnológico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.602834,-58.368183,2007.0,Comuna 1,-34.602834,-58.368183,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
3,Instituto Universitario Aeronáutico,Instituto Universitario Aeronáutico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.433717,-64.277978,14014.0,Capital,-31.433717,-64.277978,140077.0,Córdoba,14,Córdoba
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.554718,-58.497288,2084.0,Comuna 12,-34.554718,-58.497288,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
5,Instituto Universitario de Ciencias Biomedicas...,Instituto Universitario de Ciencias Biomedicas...,Naciones Unidas 400-440,NaN,"-31.4421202,-64.2033758",NaN,NaN,NaN,NaN,NaN,...,-31.442120,-64.203376,14014.0,Capital,-31.442120,-64.203376,140077.0,Córdoba,14,Córdoba
6,Instituto Universitario de Ciencias de la Salu...,Instituto Universitario de Ciencias de la Salu...,Av. Gral. Las Heras 1907,NaN,"-34.5951617,-58.4021427",NaN,NaN,NaN,NaN,NaN,...,-34.595162,-58.402143,2014.0,Comuna 2,-34.595162,-58.402143,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
7,Instituto Universitario de Gendarmeria Nacional,Instituto Universitario de Gendarmeria Nacional,Av. Paseo Colón 533,NaN,"-34.6142528,-58.371724",NaN,NaN,NaN,NaN,NaN,...,-34.614253,-58.371724,2007.0,Comuna 1,-34.614253,-58.371724,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
8,Instituto Universitario de la Policía Federal ...,Instituto Universitario de la Policía Federal ...,Rosario 532,NaN,"-34.6196133,-58.4382653",NaN,NaN,NaN,NaN,NaN,...,-34.619613,-58.438265,2042.0,Comuna 6,-34.619613,-58.438265,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
9,Instituto Universitario de Salud Mental de la ...,Instituto Universitario de Salud Mental de la ...,Báez 248,NaN,"-34.567895,-58.4361568",NaN,NaN,NaN,NaN,NaN,...,-34.567895,-58.436157,2098.0,Comuna 14,-34.567895,-58.436157,NaN,NaN,02,Ciudad Autónoma de Buenos Aires

## Calculo evolucion de genero en carreras

In [11]:
df_alumnos_merged = df_alumnos.merge(df_carreras, how="left", left_on="carrera_titulo", right_on="carrera")

In [12]:
col_nulls = df_alumnos_merged.isnull().any()
col_nulls

anio                                   False
institucion_tipo                       False
institucion_nombre                     False
institucion_nombre_new                 False
institucion_nombre_unidad_academica    False
unidad_academica                       False
unidad_academica_new                   False
carrera_nombre                         False
carrera_titulo                         False
institucion_gestion                    False
carrera_titulo_nivel                   False
Modalidad                              False
estudiantes_total                       True
estudiantes_varones                     True
estudiantes_mujeres                     True
nuevos_inscriptos_total                 True
nuevos_inscriptos_varones               True
nuevos_inscriptos_mujeres               True
reinscriptos_total                      True
reinscriptos_varones                    True
reinscriptos_mujeres                    True
egresados_total                         True
egresados_varones                       True
egresados_mujeres                       True
carrera                                 True
carrera_grupo                           True
Carrera_normalizada                     True
dtype: bool

In [13]:
df_alumnos_merged.carrera_grupo.isnull().value_counts()

False    54081
True      7638
Name: carrera_grupo, dtype: int64

In [14]:
variables = [
    "estudiantes_total","estudiantes_varones","estudiantes_mujeres",
    "nuevos_inscriptos_total","nuevos_inscriptos_varones","nuevos_inscriptos_mujeres",
    "egresados_total","egresados_varones","egresados_mujeres",
]

In [15]:
df_evolucion_carrera = df_alumnos_merged.groupby(["anio","carrera_grupo"]).sum()

In [16]:
df_evolucion_carrera = df_evolucion_carrera[variables]
df_evolucion_carrera = df_evolucion_carrera.reset_index()
#df_evolucion_carrera = df_evolucion_carrera.drop("index",1)

In [17]:
df_evolucion_carrera.head(10)

,anio,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2011,Arquitectura,74050.0,37670.0,36380.0,12644.0,6184.0,6460.0,3862.0,1705.0,2157.0
1,2011,Arte,76817.0,29697.0,47120.0,17846.0,7270.0,10576.0,3354.0,998.0,2356.0
2,2011,Deporte,3308.0,2038.0,1270.0,984.0,660.0,324.0,174.0,107.0,67.0
3,2011,Derecho,241945.0,104181.0,137764.0,54097.0,24557.0,29540.0,16300.0,6926.0,9374.0
4,2011,Economicas,402309.0,184179.0,218130.0,93449.0,44556.0,48893.0,25766.0,11589.0,14177.0
5,2011,Educación,150716.0,40181.0,110535.0,45382.0,13045.0,32337.0,9323.0,2285.0,7038.0
6,2011,Exactas,43627.0,20874.0,22753.0,9174.0,4239.0,4935.0,2551.0,1123.0,1428.0
7,2011,Idiomas,19683.0,4135.0,15548.0,4379.0,939.0,3440.0,787.0,90.0,697.0
8,2011,Ingeniería,105094.0,89425.0,15669.0,21757.0,18181.0,3576.0,4786.0,3953.0,833.0
9,2011,Letras,370.0,68.0,302.0,102.0,24.0,78.0,11.0,0.0,11.0

In [18]:
df_evolucion_carrera["estudiantes_mujeres_pct"] = df_evolucion_carrera.estudiantes_mujeres/df_evolucion_carrera.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera["inscripciones_mujeres_pct"] = df_evolucion_carrera.nuevos_inscriptos_mujeres/df_evolucion_carrera.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera["estudiantes_hombres_pct"] = df_evolucion_carrera.estudiantes_varones/df_evolucion_carrera.estudiantes_total

In [19]:
df_evolucion_carrera.to_csv("data/output/grupos_evolucion_genero.csv", encoding = "UTF8", index = False)

## Grafico exploratorio

### carreras

In [20]:
df_evolucion_carrera_carreras = df_alumnos_merged.groupby(["anio","carrera_grupo","carrera_nombre"]).sum()

In [21]:
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras[variables]
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras.reset_index()

In [22]:
df_evolucion_carrera_carreras["estudiantes_mujeres_pct"] = df_evolucion_carrera_carreras.estudiantes_mujeres/df_evolucion_carrera_carreras.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_carreras["inscripciones_mujeres_pct"] = df_evolucion_carrera_carreras.nuevos_inscriptos_mujeres/df_evolucion_carrera_carreras.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_carreras["estudiantes_hombres_pct"] = df_evolucion_carrera_carreras.estudiantes_varones/df_evolucion_carrera_carreras.estudiantes_total

In [23]:
df_evolucion_carrera_carreras.to_csv("data/output/grupos_carreras_evolucion_genero.csv", encoding = "UTF8", index = False)

In [24]:
df_evolucion_carrera_universidad = df_alumnos_merged.groupby(["anio","carrera_grupo","institucion_nombre_new"]).sum()

In [25]:
df_evolucion_carrera_universidad = df_evolucion_carrera[variables]
df_evolucion_carrera_universidad = df_evolucion_carrera.reset_index()

In [26]:
df_evolucion_carrera_universidad["estudiantes_mujeres_pct"] = df_evolucion_carrera_universidad.estudiantes_mujeres/df_evolucion_carrera_universidad.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_universidad["inscripciones_mujeres_pct"] = df_evolucion_carrera_universidad.nuevos_inscriptos_mujeres/df_evolucion_carrera_universidad.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_universidad["estudiantes_hombres_pct"] = df_evolucion_carrera_universidad.estudiantes_varones/df_evolucion_carrera_universidad.estudiantes_total

In [27]:
df_evolucion_carrera_universidad.to_csv("data/output/carreras_universidad_evolucion_genero.csv", encoding = "UTF8", index = False)

In [28]:
df_universidades.head()

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.449418,-57.768604,6238.0,Dolores,-36.449418,-57.768604,60238.0,Dolores,06,Buenos Aires
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucumán 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.602173,-58.397300,2021.0,Comuna 3,-34.602173,-58.397300,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
2,Instituto Tecnológico de Buenos Aires,Instituto Tecnológico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.602834,-58.368183,2007.0,Comuna 1,-34.602834,-58.368183,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
3,Instituto Universitario Aeronáutico,Instituto Universitario Aeronáutico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.433717,-64.277978,14014.0,Capital,-31.433717,-64.277978,140077.0,Córdoba,14,Córdoba
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.554718,-58.497288,2084.0,Comuna 12,-34.554718,-58.497288,NaN,NaN,02,Ciudad Autónoma de Buenos Aires

In [29]:
# chequea si hay instituciones faltantes para el merge
instituciones_en_alumnos = set(df_alumnos_merged.institucion_nombre.unique())
instituciones_en_universidades = set(df_universidades.institucion_nombre.unique())

instituciones_en_universidades - instituciones_en_alumnos

{'Instituto Universitario Aeronáutico',
 'Instituto Universitario ISEDET',
 'Instituto Universitario Nacional de Derechos Humanos "Madres de Plaza de Mayo"',
 'Instituto Universitario Nacional del Arte',
 'Instituto Universitario Naval',
 'Instituto Universitario Patagónico de las Artes',
 'Instituto Universitario River Plate',
 'Instituto Universitario de Ciencias Biomedicas de Córdoba',
 'Instituto Universitario de la Policía Federal Argentina',
 'Instituto Universitario del Ejército "Mayor Francisco Romero"',
 'Instituto Universitario del Gran Rosario',
 'Universidad Autónoma de Entre ríos',
 'Universidad Católica de las Misiones',
 'Universidad Favaloro',
 'Universidad Metropolitana para la Educación y el Trabajo',
 'Universidad Nacional José C. Paz',
 'Universidad Nacional de Entre ríos',
 'Universidad Nacional de Hurlingham',
 'Universidad Nacional de Rafaela',
 'Universidad Nacional de Tierra del Fuego, Antártida e Islas del Atlántico Sur',
 'Universidad Nacional de Villa Mercedes',
 'Universidad Nacional de las Artes',
 'Universidad Nacional de río Cuarto',
 'Universidad Nacional de río Negro',
 'Universidad Nacional del Oeste',
 'Universidad Pedagógica Nacional',
 'Universidad Popular Madres de Plaza de Mayo',
 'Universidad Provincial de Ezeiza',
 'Universidad Provincial del Sudoeste',
 'Universidad Salesiana Argentina',
 'Universidad de Congreso',
 'Universidad de San Isidro "Dr. Plácido Marín"',
 'Universidad de la Defensa Nacional',
 'Universidad de la Fraternidad de Agrupaciones Santo Tomás de Aquino',
 'Universidad del Congreso'}

In [30]:
df_universidades_merged = df_alumnos_merged.merge(df_universidades, how="left", left_on="institucion_nombre_new", right_on="institucion_nombre")
df_universidades_merged.head()

,anio,institucion_tipo,institucion_nombre_x,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_nombre,carrera_titulo,institucion_gestion,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,2011,Universidad,Universitá Degli Studi di Bologna,Universitá Degli Studi di Bologna,Universitá Degli Studi di Bologna - Università...,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Relaciones Internacionales,Magister en Relaciones Internacionales Europa ...,Privada,...,44.467909,11.295508,NaN,NaN,44.467909,11.295508,NaN,NaN,NaN,NaN
1,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Doctor en Ciencia Politica,Privada,...,-34.547697,-58.448939,2091.0,Comuna 13,-34.547697,-58.448939,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
2,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Licenciatura en Ciencia Politica y Gobierno,Privada,...,-34.547697,-58.448939,2091.0,Comuna 13,-34.547697,-58.448939,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
3,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Ciencia Politica,Magister en Ciencia Politica,Privada,...,-34.547697,-58.448939,2091.0,Comuna 13,-34.547697,-58.448939,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
4,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella - Departamento d...,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Relaciones Internacionales,Licenciatura en Estudios Internacionales,Privada,...,-34.547697,-58.448939,2091.0,Comuna 13,-34.547697,-58.448939,NaN,NaN,02,Ciudad Autónoma de Buenos Aires

In [31]:
df_evolucion_universidades = df_universidades_merged.groupby(["anio","provincia_id","carrera_grupo"]).sum()
df_evolucion_universidades = df_evolucion_universidades[variables]
df_evolucion_universidades = df_evolucion_universidades.reset_index()
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2011,02,Arquitectura,27066.0,13711.0,13355.0,4881.0,2347.0,2534.0,1594.0,748.0,846.0
1,2011,02,Arte,40336.0,12435.0,27901.0,8875.0,2812.0,6063.0,2156.0,559.0,1597.0
2,2011,02,Deporte,1209.0,629.0,580.0,286.0,159.0,127.0,113.0,62.0,51.0
3,2011,02,Derecho,68838.0,30178.0,38660.0,14508.0,6521.0,7987.0,6596.0,2852.0,3744.0
4,2011,02,Economicas,158727.0,78026.0,80701.0,35718.0,17676.0,18042.0,13111.0,6198.0,6913.0

In [32]:
df_evolucion_universidades["estudiantes_mujeres_pct"] = df_evolucion_universidades.estudiantes_mujeres/df_evolucion_universidades.estudiantes_total

In [33]:
estudiantes_totales = df_evolucion_universidades.groupby(["anio", 'provincia_id']).sum()["estudiantes_total"]

In [34]:
df_evolucion_universidades['estudiantes_grupo_pct'] = df_evolucion_universidades.apply(
    lambda row: row["estudiantes_total"] / estudiantes_totales[row["anio"], row["provincia_id"]],
    axis=1
)

In [35]:
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,estudiantes_grupo_pct
0,2011,02,Arquitectura,27066.0,13711.0,13355.0,4881.0,2347.0,2534.0,1594.0,748.0,846.0,0.493423,0.035881
1,2011,02,Arte,40336.0,12435.0,27901.0,8875.0,2812.0,6063.0,2156.0,559.0,1597.0,0.691715,0.053473
2,2011,02,Deporte,1209.0,629.0,580.0,286.0,159.0,127.0,113.0,62.0,51.0,0.479735,0.001603
3,2011,02,Derecho,68838.0,30178.0,38660.0,14508.0,6521.0,7987.0,6596.0,2852.0,3744.0,0.561608,0.091259
4,2011,02,Economicas,158727.0,78026.0,80701.0,35718.0,17676.0,18042.0,13111.0,6198.0,6913.0,0.508426,0.210425

In [36]:
df_evolucion_universidades.to_csv("data/output/ubicacion_evolucion_genero.csv", encoding = "UTF8", index = False)

In [37]:
##ETL Markers de universidades

### Calculo indicadores por universidad-grupo carrera

In [63]:
def create_grupo_indics_str(row):
    """Crea string con variables por grupo carrera."""
    
    grupo_indics_str = "{}: {} estudiantes / {:.1%} mujeres".format(
        row["carrera_grupo"],
        int(row["estudiantes_total"]),
        row["estudiantes_mujeres_pct"],
    )
    return grupo_indics_str

In [62]:
# agrupo por universidad-grupo para el año 2017 (el último)
df_universidad_grupo = df_universidades_merged[df_universidades_merged.anio == 2017].groupby(
    ["institucion_nombre_new", "carrera_grupo"]
).sum()
df_universidad_grupo = df_universidad_grupo[variables]
df_universidad_grupo = df_universidad_grupo.reset_index()

# elimino agrupaciones que no tienen estudiantes
df_universidad_grupo = df_universidad_grupo[df_universidad_grupo.estudiantes_total > 0]

# creo indicadores de interés y orden por % estudiantes mujeres
df_universidad_grupo["estudiantes_mujeres_pct"] = df_universidad_grupo.estudiantes_mujeres / df_universidad_grupo.estudiantes_total
df_universidad_grupo["carrera_grupo_indics"] = df_universidad_grupo.apply(create_grupo_indics_str, axis=1)
df_universidad_grupo = df_universidad_grupo.sort_values(
    ["institucion_nombre_new", "estudiantes_mujeres_pct"],
    ascending=False
)

df_universidad_grupo.head()

,institucion_nombre_new,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,carrera_grupo_indics
746,Universidad del Salvador,Idiomas,80.0,9.0,71.0,24.0,5.0,19.0,0.0,0.0,0.0,0.887500,Idiomas: 80 estudiantes / 88.8% mujeres
750,Universidad del Salvador,Salud,204.0,23.0,181.0,58.0,10.0,48.0,2.0,0.0,2.0,0.887255,Salud: 204 estudiantes / 88.7% mujeres
745,Universidad del Salvador,Educación,1335.0,305.0,1030.0,439.0,96.0,343.0,73.0,22.0,51.0,0.771536,Educación: 1335 estudiantes / 77.2% mujeres
751,Universidad del Salvador,Sociales,1437.0,466.0,971.0,246.0,82.0,164.0,23.0,4.0,19.0,0.675713,Sociales: 1437 estudiantes / 67.6% mujeres
748,Universidad del Salvador,Naturales,228.0,81.0,147.0,32.0,8.0,24.0,3.0,1.0,2.0,0.644737,Naturales: 228 estudiantes / 64.5% mujeres

In [68]:
def concatenate_map(grupos_carreras):
    grupos_str = [str(grupo) for grupo in grupos_carreras if pd.notnull(grupo)]
    return ",".join(grupos_str)

In [69]:
serie_lista_grupos = df_universidad_grupo.groupby("institucion_nombre_new")["carrera_grupo_indics"].apply(
    concatenate_map)
#serie_lista_carrera = df_universidades_merged.groupby("institucion_nombre_new")["carrera_nombre"].apply(
#    concatenate_map)

In [70]:
df_ubicacion_universidades_grupos = df_universidades.merge(
    serie_lista_grupos, how="left", left_on="institucion_nombre", right_index=True)

#df_ubicacion_universidades_grupos = df_ubicacion_universidades_grupos.merge(
#    serie_lista_carrera, how="left", left_on="institucion_nombre", right_index=True)

In [71]:
df_ubicacion_universidades_grupos.to_csv("data/output/universidades_mapa.csv", encoding = "UTF8", index = False)
#tasas de egresos pero no lineamente, buscar la formula, estandariza el año de duracion.